################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/projects/Project1/.vs/Project1/v16/.suo
/projects/Project1/.vs/Project1/v16

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ilk
*.pdb
*.res
*.idb
*.log
*.tlog
*.ipch
*.sdf
*.suo
*.v12.suo

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib
*.tlh
*.tli
*.tlog

# Executables
*.exp
*.out
*.app
/.vs/d2dwindow-dll/v16/Browse.VC.db-shm
/.vs/d2dwindow-dll/v16/Browse.VC.db-wal
/.vs/d2dwindow-dll/v16/Browse.VC.opendb
